 # config file for IV acquisition
io:
    RootPath: ./ #data stored here (be sure to put "/" at end)
    SaveTo: test_alias_4.json

detectors:
    DetectorName: taurus_dualtes_testchip
    Column: C
    Rows: [12,13,16,17,20,21]
  # Record the line period to row select map within TDM frame, as it is not commanded.

voltage_bias:
    source: 'tower'
    db_cardname: 'DB' # this is static for velma and only used if source=='tower'
    
runconfig:
    show_plot: True
    save_data: True
    seq_len_list: [6,12,18,24,48,64]
    min_freq: 1
    n_avg: 10
    mix_fraction: 1

calnums:
    rfb: 206.9 # 1186 # do not include 50 Ohm output
    rbias: 1207.0
    rjnoise: 0.000150
    mr: 15
    mrsh: 0
    vfb_gain: 1.017
