 # config file for IV acquisition
io:
    RootPath: /home/pcuser/data/lbird/20200926/ #data stored here
    suffix: 'test'

detectors:
    DetectorName: lbird_bolov2
    Column: A
    Rows: [0,1,2,3] # all=32, record cringe setup, does not set it. 

voltage_bias:
    source: mrk2 # tower or mrk2 (for bluebox)
    v_start: 0.5
    v_stop: 0.4
    v_step: 0.001
    source: mrk2 #tower or mrk2 (bluebox)
    overbias: False
    overbiasThigh: 0.210 # temperature (mK) for overbiasThigh
    v_overbias: None
    overbiasWait: 60 # seconds to wait after overbias before starting IV
    v_autobias: 2.5 # voltage used to drive detectors normal
    sweepUp: False
    setVtoZeroPostIV: True

runconfig:
    bathTemperatures: [0.29,0.3] # a list, 0 is flag for use current temperature
    thermometerChannel: 2 # servo channel
    thermometerHeaterRange: 31.6
    showPlots: True
    rowsNotLocked: None
    polarity: 'Positive' # currently does nothing
    setupTemperatureServo: False
    dataFormat: legacy # legacy or new
    tower_config: tower.config

dfb:
    dac: 8192
    adc: 12000
    dfb_card_index: 0
    p: 8
    i: 8

calnums:
    rfb: 1234.7 # include 50 Ohm output or not?? 
    rbias: 10068.0
    rjnoise: .0662
    mr: 8.259
    mrsh: 0
    vfb_gain: 0.953
