 # config file for IV acquisition
io:
    RootPath: /home/pcuser/data/lbird/20200926/ #data stored here
    suffix: ''

detectors:
    DetectorName: lbird_bolov2
    Column: A
    Rows: all 

runconfig:
    bathTemperatures: [0] # a list, 0 is flag for use current temperature
    thermometerChannel: 2 # servo channel
    multiplex: True
    showPlots: True
    rowsNotLocked: None
    v_start: 1.0
    v_stop: 0.0
    v_step: 0.1
    voltageBiasSource: tower #tower or mrk2 (bluebox)
    polarity: 'Positive'
    overbias: False
    overbiasThigh: 0.210 # temperature (mK) for overbiasThigh
    v_overbias: None
    overbiasWait: 60 # seconds to wait after overbias before starting IV
    v_autobias: 2.5 # voltage used to drive detectors normal

dfb:
    dac: 8192
    adc: 12000
    dfb_card_index: 0
    lsync: 100
    nsamp: 16
    p: 8
    i: 8
    pci_mask: 0x001
    pci_firmware_delay: 1

mux_settings:
    sq2fb_value_muxedIV: 100
    tower_config: tower.config

calnums:
    rfb: 1234.7 # include 50 Ohm output or not?? 
    rbias: 10068.0
    rjnoise: .0662
    mr: 8.259
    mrsh: 0
    vfb_gain: 0.953
