 # config file for IV acquisition
io:
    RootPath: /home/pcuser/data/lbird/20201202/ #data stored here
    suffix: 'test'

detectors:
    DetectorName: lbird_bolov2
    Column: A
    Rows: [1,1,1,1] # all=32, record cringe setup. does not set it. 

voltage_bias:
    source: mrk2 # tower or mrk2 (for bluebox)
    v_start: 1.0
    v_stop: 0
    v_step: 0.01
    overbias: False
    overbiasThigh: 0.210 # temperature (mK) for overbiasThigh
    v_overbias: None
    overbiasWait: 60 # seconds to wait after overbias before starting IV
    v_autobias: 0 # voltage used to drive detectors normal
    sweepUp: False
    setVtoZeroPostIV: True

runconfig:
    bathTemperatures: [.15] # a list, 0 is flag for use current temperature
    thermometerChannel: 2 # servo channel
    temp_tolerance: 0.001 # K
    thermometerHeaterRange: 31.6
    showPlots: True
    polarity: 'Positive' # currently does nothing
    setupTemperatureServo: False
    dataFormat: legacy # legacy or new
    tower_config: tower.config

dfb:
    dac_a_offset: 8192
    adc_lockpt: 820
    dfb_card_index: 1
    ec_col_index: 0
    p: 0
    i: 8
    row_index_not_locked: [] # null or [] if all to be locked

calnums:
    rfb: 1234.7 # include 50 Ohm output or not?? 
    rbias: 10068.0
    rjnoise: .0662
    mr: 8.259
    mrsh: 0
    vfb_gain: 0.953

coldload:
    execute: False
    bbTemperatures: [4,5,6] # a list of blackbody bbTemperatures
    loop_channel: 1
    t_channel: 'a'
    PID: [1,5,0]
    heater_range: 'low'
    tempBB_tolerance: 0.1 # max allowed difference between commanded and achieved BB temperature
    BBsettlingTime: 15.0 # minutes to wait before commencing IV curves after new setpoint
    BBsettlingTimeMax:  0.0 #25.0 #25.0 # max # of minutes to wait for BB load to settle
    immediateFirstMeasurement: True 
    turn_off_BB: True # turn off coldlad when measurement complete 
