# config file tower

db_tower_address: 11
sq2fb_tower_address: 11
sq2bias_tower_address: 21
safb_tower_address: 26
sqbias_tower_address: 1

db_tower_channel_A: 0
db_tower_channel_B: 1
db_tower_channel_C: 2
db_tower_channel_D: 3

sq2fb_tower_channel_A: 4
sq2fb_tower_channel_B: 5
sq2fb_tower_channel_C: 6
sq2fb_tower_channel_D: 7